
{block content}
{include '../../common/@slider.latte'}

<div class="container flashmessages" n:if="count($flashes)>0">
    <div n:foreach="$flashes as $flash"
         class='alert alert-{$flash->type} alert-block fade in'>
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <p>{$flash->message}</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="videoWrapper">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/3GUy7GO-hGs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>		
        </div>
    </div>
</section>
<style type="text/css">
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

</style>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 bigger-text">
                {$presenter->getText('HOMEPAGE_1')|noescape}
            </div>
            <div class="col-lg-4">
                <div class="cta-btn">
                    {*<a n:href="Program:default" class="btn btn-theme btn-lg">Zapoj se jako dobrovolník </a>*}
                    <button style="margin-bottom:10px;" type="button" class="btn btn-theme btn-lg" 
                            id="joinUsBtnUser"><i class="fa fa-users"></i> Přihlášení rodiny</button>
                    <button type="button" class="btn btn-theme btn-lg" 
                            id="joinUsBtnSupport"><i class="fa fa-user" aria-hidden="true"></i> Zapoj se jako dobrovolník</button>
                </div>
            </div>	
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    {$presenter->getText('HOMEPAGE_2')|noescape}
                </div>
            </div>		
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {var $cols_center = 4}
                    <div class="col-sm-{$cols_center} col-md-{$cols_center} col-lg-{$cols_center}">
                        <div class="box">
                            <div class="aligncenter">								
                                <div class="icon">
                                    <i class="fa fa-users fa-5x begreen"></i>
                                </div>
                                {$presenter->getText('HOMEPAGE_TRIPLE_1_1')|noescape}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-{$cols_center} col-md-{$cols_center} col-lg-{$cols_center}">
                        <div class="box">
                            <div class="aligncenter">								
                                <div class="icon">
                                    <i class="fa fa-heart fa-5x dpr-color"></i>
                                </div>
                                {$presenter->getText('HOMEPAGE_TRIPLE_1_2')|noescape}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-{$cols_center} col-md-{$cols_center} col-lg-{$cols_center}">
                        <div class="box">
                            <div class="aligncenter">								
                                <div class="icon">
                                    <i class="fa   fa-bookmark fa-5x begreen"></i>
                                </div>
                                {$presenter->getText('HOMEPAGE_TRIPLE_1_3')|noescape}
                            </div>
                        </div>
                    </div>
                    {*<div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="box">
                            <div class="aligncenter">								
                                <div class="icon">
                                    <i class="fa fa-info-circle fa-5x begreen"></i>
                                </div>
                                <h4 class="bold">Informace</h4>
                            </div>
                        </div>
                    </div>*}
                </div>
            </div>
        </div>
    </div>

    <!-- divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
    </div>
    <!-- end divider -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {$presenter->getText('HOMEPAGE_NAPSALI')|noescape}
            </div>
        </div>
    </div>

    <!-- divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blankline">
                </div>
            </div>
        </div>
    </div>
    <!-- end divider -->

    <!-- parallax  -->
    <div id="parallax1" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">	
        <div class="container">
            <div class="row appear stats">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="align-center color-white txt-shadow">
                        <div class="icon">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <strong id="counter-coffee" class="number">{*$interval*}0</strong><br />
                        <span class="text">Zbývá dnů do pochodu</span>
                    </div>
                </div>
                {*<div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="align-center color-white txt-shadow">
                        <div class="icon">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <strong id="counter-music" class="number">{*$users_result*}</strong><br />
                        <span class="text">Přihlášených rodin</span>
                    </div>
                </div>*}

            </div>
        </div>
    </div>	 



    <!-- divider -->
    <div class="container marginbot50">
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
    </div>
    <!-- end divider -->


    <!-- clients -->
    {*<div class="container">
        <h4>Organizátor akce</h4>
        <div class="row">
            <div class="col-lg-12 padding-top-kontakt">
                <img width="240" alt="logo" src="/partner/footer/aliance.jpg" class="img-responsive">
            </div>
        </div>
        <h4>Akci podporují</h4>
        {foreach $main_partners as $k => $partner}
            {first 4}<div class="row">{/first}
                <div class="col-xs-3 col-md-3">
                    <img alt="logo" src="{$basePath}/partner/footer/{$partner->getFilename()}" class="img-responsive" />
                </div>
                {last 4}</div>{/last}
            {/foreach}
            <br>
        {foreach $footer_partners as $k => $partner}
            {first 6}<div class="row">{/first}
                <div class="col-xs-6 col-md-2 aligncenter">
                    <img width="120" alt="logo" src="{$basePath}/partner/footer/{$partner->getFilename()}" class="img-responsive" />
                </div>
                {last 6}</div>{/last}
            {/foreach}
    </div>*}
</section>



<!-- Modal dobrovilnik -->
<div class="modal fade" id="joinUsSupport" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Přihlašte se <small>do</small> Dne pro rodinu<small> aktivně jako dobrovolník</small></h2>
            </div>
            <div class="modal-body">
                
                <p class="text-center">
                    Přihlášení již bylo ukončeno.
                </p>
              {*  {form addappForm}
                    <hr class="colorgraph">

                    <div class="form-group">
                        {input name_lastname}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                {input email}
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        {input message}
                    </div>
                    <hr class="colorgraph">
                    <div class="text-center">{input submit}</div>
                    {input c_type,value=>'support'}
                {/form} *}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> 


<!-- Modal user -->
<div class="modal fade" id="joinUsUser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Přihlašte se <small>do</small> Dne pro rodinu</h2>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    Přihlášení již bylo ukončeno.
                </p>
               {* {form addappForm}
                    <hr class="colorgraph">

                    <div class="form-group">
                        {input name_lastname}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div class="form-group">
                                {input email}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3"> 
                            <div class="form-group"> 
                                {input child_count} 
                            </div> 
                        </div> 
                    </div>
                    <div class="form-group">
                        {input message}
                    </div>
                    <hr class="colorgraph">
                    <div class="text-center">{input submit}</div>
                    {input c_type,value=>'family'}
                {/form} *}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> 






{/block}
{block scripts}
{include parent}
<script>
    $(document).ready(function () {
        $("#joinUsBtnUser").click(function () {
            
            $("#joinUsUser").modal();
        });
        $("#joinUsBtnSupport").click(function () {
            $("#joinUsSupport").modal();
        });
    });
</script>
<script>
    window.setTimeout(function () {
        $('.flashmessages .alert').each(function () {
            if ($(this).hasClass('carterror') === false) {
                $(this).fadeOut(10000)
            }
        });
    }, 3000);
</script>

{/block}
{block head}
{/block}
