<div class="navbar-collapse collapse ">
    <ul class="nav navbar-nav">
        <li class="{$presenter->makeActive('homepage')}"><a href="{$baseUri}">Úvod</a></li>
        <li class="{$presenter->makeActive('program')}"><a n:href="Program:default">Program</a></li>
        <li class="{$presenter->makeActive('podpora')}"><a n:href="Podpora:default">Podporují nás</a></li>
        <li class="{$presenter->makeActive('prohlaseni')}"><a n:href="Prohlaseni:default">Prohlášení</a></li>
        {*<li class="{$presenter->makeActive('ohlasy')}"><a n:href="Ohlasy:default">Vaše ohlasy</a></li>*}
        <li class="dropdown {$presenter->makeActive('fotogalerie')} {$presenter->makeActive('videogalerie')}">
            <a href="#" class="dropdown-toggle" 
               data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Minulé ročníky <i class="fa fa-angle-down"></i></a>
               <ul class="dropdown-menu">
                <li><a n:href="Videogalerie:default">Videa 2016</a></li>
                <li><a n:href="Fotogalerie:default">Fotogalerie 2016</a></li>
                {*<li><a n:href="Podpora:last">Podpořili nás</a></li>*}
            </ul>
        </li>
        <li class="{$presenter->makeActive('kontakt')}"><a n:href="Kontakt:default">Kontakt</a></li>
        <li><a class="newtab befb" href="https://www.facebook.com/denprorodinu/" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        {*<li><a href="#" data-placement="top" title="Twitter" class="newtab betwitter"><i class="fa fa-twitter"></i></a></li>*}
    </ul>
</div>
