
{var header="Den pro rodinu"}
{var header_desc="Starost o rodinu je každodenní, nikdy nekončící, náročná, ale smysluplná a radostná práce. Pojďte s námi ukázat, že to jde lehce a s radostí."}
{var header_button_desc="Program dne pro rodinu."}
<section id="featured" class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="main-slider" class="main-slider flexslider no-js">
                    <ul class="slides">
                        <li>
                            <img src="{$basePath}/images/flexi/stock1/3.jpg" alt="{$header}" />
                            <div class="flex-caption">
                                {$presenter->getText('HOMEPAGE_SLIDER')|noescape}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>	
</section>