{* Latte template *}

{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$baseUri}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Vaše ohlasy</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">  
    <div class="container">
        <h1 class="heading">Vaše ohlasy</h1>
        <div class="comment-area">
            <hr class="colorgraph">
            <div class="media">
                <a href="#" class="pull-left"><img src="{$basePath}/img/avatar.png" alt="" class="img-circle"></a>
                <div class="media-body">
                    <div class="media-content">
                        <h6>Jarmila Malinová s rodinou</h6>
                        <blockquote>
                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque...
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left"><img src="{$basePath}/img/avatar.png" alt="" class="img-circle"></a>
                <div class="media-body">
                    <div class="media-content">
                        <h6>Jarmila Malinová s rodinou</h6>
                        <blockquote>
                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque...
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left"><img src="{$basePath}/img/avatar.png" alt="" class="img-circle"></a>
                <div class="media-body">
                    <div class="media-content">
                        <h6>Jarmila Malinová s rodinou</h6>
                        <blockquote>
                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque...
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left"><img src="{$basePath}/img/avatar.png" alt="" class="img-circle"></a>
                <div class="media-body">
                    <div class="media-content">
                        <h6>Jarmila Malinová s rodinou</h6>
                        <blockquote>
                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque...
                        </blockquote>
                    </div>
                </div>
            </div>
            <hr class="colorgraph">
        </div>
    </div>
</section>