{layout '../@Service.latte'}
{block content}

<div style="margin-top:150px; margin-left: 250px; margin-right: 250px; border: 1px solid gray" class="text-center">
     <div class="row">
         <h1>Přihlášky</h1>
     </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <h2>Rodiny</h2>
            <a class="btn btn-default btn-rounded btn-success" n:href=":Front:DownloadUsers:download,'family'">Stahnout XLS (csv)</a>
        </div>
        <div class="col-md-4 text-center">
            <h2>Pomocnici</h2>
            <a class="btn btn-default btn-rounded btn-success" n:href=":Front:DownloadUsers:download,'support'">Stahnout XLS (csv)</a>
        </div>
        <div class="col-md-4 text-center">
            <h2>Dotazy - kontakt</h2>
            <a class="btn btn-default btn-rounded btn-success" n:href=":Front:DownloadUsers:download,'contact'">Stahnout XLS (csv)</a>
        </div>
    </div>

</div>

{/block}
