{layout '../@Service.latte'}
{block content}

<div style="margin-top:150px; margin-left: 250px; margin-right: 250px; border: 1px solid gray" class="text-center">
     <div class="row">
         <h1>Login</h1>
     </div>
    <div class="row">
        <div class="col-md-4 text-center">
            
        </div>
        <div class="col-md-4 text-center">
            <form action="{link :Front:DownloadUsers:sign}" method="post">
                <div class="row">
                    <input type="password" name="csv_auth_pass">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="col-md-4 text-center">
            
        </div>
    </div>

</div>

{/block}