{* Latte template *}

{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$baseUri}/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Kontakt</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    {*<div class="map">
        <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
    </div>*}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h1 class="heading">Organizátor akce</h1>
                <address>
                    <strong>Aliance pro rodinu z.s.</strong><br>
                    Vyskočilova 741/3<br>
                    140 00 Praha 4 Michle<br>
                    <span class="light-bold">Kontaktní osoba:</span> Jana Jochová, předsedkyně spolku<br>
                    <span class="light-bold">Telefon:</span> +420 603 325 880<br>
                    <span class="light-bold">Email:</span> 
                    <script type="text/javascript" n:syntax="off">
                        coded = "iWodmJW3@WJyv3g.dt"
                        key = "NOaEnXMuK87S0vBPi4eqWForczZ6l2CfjIy1mDL9g3dtYwJUHGAQRsxb5pVTkh"
                        shift = coded.length
                        link = ""
                        for (i = 0; i < coded.length; i++) {
                            if (key.indexOf(coded.charAt(i)) == -1) {
                                ltr = coded.charAt(i)
                                link += (ltr)
                            } else {
                                ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
                                link += (key.charAt(ltr))
                            }
                        }
                        document.write("<a href='mailto:" + link + "'>" + link + "</a>")
                    </script>
                    <br>
                    <span class="light-bold">Číslo účtu:</span> 2600107732/2010
                </address>
            </div>
            <div class="col-md-2 aligncenter ">
                <img width="120" alt="logo" src="/partner/footer/aliance.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {$presenter->getText('KONTAKT_H1')|noescape}
                <hr class="colorgraph">
                <section class="flashmessages" n:if="count($flashes)>0">
                    <div n:foreach="$flashes as $flash"
                         class='alert alert-{$flash->type} alert-block fade in'>
                        <button type="button" class="close close-sm" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>
                        <p>{$flash->message}</p>
                    </div>
                </section>
                <script>
                    window.setTimeout(function () {
                        $('.flashmessages .alert').each(function () {
                            if ($(this).hasClass('carterror') === false) {
                                $(this).fadeOut(10000)
                            }
                        });
                    }, 3000);
                </script>
                {form contactForm}
                    <div class="form-group">
                        {input name_lastname}
                    </div>
                    <div class="form-group">
                        {input email}
                    </div>
                    <div class="form-group">
                        {input subject}
                    </div>
                    <div class="form-group">
                        {input message}
                    </div>
                    <div class="text-center">{input submit}</div>
                {/form}
                <hr class="colorgraph">
            </div>
        </div>
    </div>
</section>

{/block}

{block scripts}
{include parent}
<script n:syntax="off" type="text/javascript">
    $(document).ready(function () {
        $(".chmnow").on("click touchstart", function (e) {
            if (e.type == "click" or e.type == "touchend") {

            }
        });
    });
</script>

{/block}
