{* Latte template *}

{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$basePath}/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="{$basePath}/#">Minulé ročníky</a><i class="icon-angle-right"></i></li>
                    <li class="active">Fotogalerie 2016</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">  
    <div class="container">
        <h1 class="heading">Fotogalerie 2016</h1>
        <div class="row">
            <div class="col-lg-12">
                <div id="grid-container" class="cbp-l-grid-projects">
                    <ul>
                        {foreach $photos as $key => $file}
                            <li class="cbp-item graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{$basePath}/data/fotogalerie/2016/Pochod/{$file['file']->getBasename()}" class="img-responsive" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="{$basePath}/data/fotogalerie/2016/Pochod/{$file['large']}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Den pro rodinu 2016">Zvětšit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {*<div class="cbp-l-grid-projects-title">Dashboard</div>
                                <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>*}
                            </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>