{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$baseUri}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Program</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">  
    <div class="container">
        <h1 class="heading">Program</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="#">
                    <img src="{$basePath}/images/mapa.png" class="img-responsive" style="">
                </a>
            </div>
            <div class="col-lg-6">
                {$presenter->getText('PROGRAM_1')|noescape}
                <button style="margin-bottom:10px;" type="button" class="btn btn-theme btn-lg" 
                            id="joinUsBtnUser"><i class="fa fa-users"></i> Přihlášení rodiny</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
<p class="text-center">
                    Přihlášení již bylo ukončeno.
                </p>
                {*{form addappForm}
                    <h2>Přihlašte se <small>do</small> Dne pro rodinu<small> aktivně jako dobrovolník</small></h2>
                    <hr class="colorgraph">
                    <section class="flashmessages" n:if="count($flashes)>0">
                        <div n:foreach="$flashes as $flash"
                             class='alert alert-{$flash->type} alert-block fade in'>
                            <button type="button" class="close close-sm" data-dismiss="alert">
                                <i class="fa fa-times"></i>
                            </button>
                            <p>{$flash->message}</p>
                        </div>
                    </section>
                    
                    <div class="form-group">
                        {input name_lastname}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                {input email}
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        {input message}
                    </div>
                    <hr class="colorgraph">
                    <div class="text-center">{input submit}</div>
                {/form}*}
            </div>
            <div class="col-lg-6">
                {$presenter->getText('PROGRAM_2')|noescape}
            </div>
        </div>
    </div>
</section>

<!-- Modal user -->
<div class="modal fade" id="joinUsUser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Přihlašte se <small>do</small> Dne pro rodinu</h2>
            </div>
            <div class="modal-body">
                 <p class="text-center">
                    Přihlášení již bylo ukončeno.
                </p>
                {* {form addappForm}
                    <hr class="colorgraph">

                    <div class="form-group">
                        {input name_lastname}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div class="form-group">
                                {input email}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3"> 
                            <div class="form-group"> 
                                {input child_count} 
                            </div> 
                        </div> 
                    </div>
                    <div class="form-group">
                        {input message}
                    </div>
                    <hr class="colorgraph">
                    <div class="text-center">{input submit}</div>
                    {input c_type,value=>'family'}
                {/form} *}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> 


{/block}
{block scripts}
{include parent}
<script>
    $(document).ready(function () {
        $("#joinUsBtnUser").click(function () {
            $("#joinUsUser").modal();
        });
       
    });
</script>
<script>
    window.setTimeout(function () {
        $('.flashmessages .alert').each(function () {
            if ($(this).hasClass('carterror') === false) {
                $(this).fadeOut(10000)
            }
        });
    }, 3000);
</script>

{/block}
{block head}
{/block}
