{* Latte template *}

{block content}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$basePath}/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Podporují nás</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <h1 class="heading aligncenter">Kvůli ochraně našich sponzorů nebudeme jejich loga dočasně zveřejňovat</h1>
        <br>
        <div class="row">
            <div class="col-xs-6 col-md-6 text-center aligncenter">
                
            </div>
            <div class="col-xs-6 col-md-6 text-center aligncenter">

            </div>
        </div>
    </div>
</section>

{*<section id="content">
    <div class="container">
        <h1 class="heading">Organizátoři akce</h1>
        <br>
        <div class="row">
            <div class="col-xs-6 col-md-6 text-center aligncenter">
                <img width="240" src="{$basePath}/partner/footer/aliance.jpg"  class="img-responsive">
            </div>
            <div class="col-xs-6 col-md-6 text-center aligncenter">

            </div>
        </div>
        <br>
        <h2 class="heading">Podporují</h2>
        {foreach $main_partners as $k => $partner}
            {first 4}<div class="row">{/first}
                <div class="col-xs-3 col-md-3">
                    <img alt="logo" src="{$basePath}/partner/footer/{$partner->getFilename()}" class="img-responsive" />
                </div>
                {last 4}</div>{/last}
            {/foreach}
        <h2 class="heading">Dále podporují</h2>
        <br>
        {foreach $footer_partners as $k => $partner}
            {first 6}<div class="row">{/first}
                <div class="col-xs-6 col-md-2 aligncenter">
                    <img width="150" alt="logo" src="{$basePath}/partner/footer/{$partner->getFilename()}" class="img-responsive" />
                </div>
                {last 6}</div>{/last}
            {/foreach}
    </div>
</section>*}
