{* Latte template *}

{block content}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$basePath}/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Podpořili nás</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="content">
    <div class="container">
        
        <div class="row">
            {*<div class="col-xs-6 col-md-6 text-center aligncenter">
                <img width="200" src="{$basePath}/partner/2016/aliance.jpg"  class="img-responsive">
            </div>
            <div class="col-xs-6 col-md-6 text-center aligncenter">
                
            </div>*}
        </div>
        <br>
        <h2 class="heading">Podpořili nás</h2>
        <br>
        {foreach $footer_partners as $k => $partner}
            {first 6}<div class="row">{/first}
                <div class="col-xs-6 col-md-2 aligncenter">
                    <img width="150" alt="logo" src="{$basePath}/partner/2016/{$partner->getFilename()}" class="img-responsive" />
                </div>
                {last 6}</div>{/last}
            {/foreach}
    </div>
</section>