{* Latte template *}

{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$basePath}/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Program</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">  
    <div class="container">
        <h1>Program</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="#">
                    <img src="{$basePath}/images/mapa.png" class="img-responsive" style="margin-top: 3em;">
                </a>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</section>