{layout ../@sign.latte} {block content}
<div class="padding-15">
    <div class="login-box">
        {form signInForm}
            <header>
                <i class="fa fa-users"></i>Přihlaste se
            </header>
            {snippet flashmessages}
                <div n:foreach="$flashes as $flash"
                     class='alert alert-{$flash->type} noborder text-center weight-400 nomargin noradius'>
                    {$flash->message}</div>
                {/snippet}
            <fieldset>
                <section>
                    <label class="label">Přihlašovací jméno</label> <label class="input">
                        <i class="icon-append fa fa-user"></i> {input username} <span
                            class="tooltip tooltip-top-right">Přihlašovací jméno</span>
                    </label>
                </section>
                <section>
                    <label class="label">Heslo</label> <label class="input"> <i
                            class="icon-append fa fa-lock"></i> {input password} <b
                            class="tooltip tooltip-top-right">Přihlašovací heslo</b>
                    </label> 
                </section>
            </fieldset>
            <footer>
                {input send}
            </footer>
            <hr />
        {/form}
    </div>
</div>
