{block content}

<script type="text/javascript" n:syntax="off">
    // initialisation
    editAreaLoader.init({
        id: "frm-editPageForm-s_content"	// id of the textarea to transform		
        , start_highlight: true	// if start with highlight
        , allow_resize: "both"
        , allow_toggle: false
        , word_wrap: true
        , language: "cs"
        , syntax: "html"
    });
</script>

<div id="content" class="padding-20">
    <div id="panel-1" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis"> <strong>Editace</strong></span>
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip"
                       title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs"
                       data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i
                            class="fa fa-expand"></i></a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body padding-40" style="padding-right: 120px !important;">
                        {control editPageForm}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
