{block content}
<div id="content" class="padding-20">
    <div id="panel-1" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis"> <strong>Přehled Stranek</strong>
            </span>
            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip"
                       title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs"
                       data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i
                            class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body padding-40">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="datatable_sample">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Stranka</th>
                                        <th>KOD</th>
                                        <th>Popis bloku</th>
                                        <th>Posledni zmena</th>
                                        <th>EDITACE</th>
                                        <th>STARSI VERZE</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Stranka</th>
                                        <th>KOD</th>
                                        <th>Popis bloku</th>
                                        <th>Posledni zmena</th>
                                        <th>EDITACE</th>
                                        <th>STARSI VERZE</th>
                                    </tr>
                                    </foot>
                                <tbody>
                                    {foreach $pages as $key => $row}
                                        <tr>
                                            <td>{$row->id}</td>
                                            <td><a href="/{$row->presenter|lower}/?highlight={$row->s_name}" class="newtab">{$row->presenter|firstUpper}</a></td>
                                            <td>{$row->s_name}</td>
                                            <td>{$row->s_description}</td>
                                            <td>{$row->s_updated|date:'j.n. Y H:i:s'}</td>
                                            <td>
                                                <a class="btn btn-danger" n:href="edit $row->id">
                                                    EDITOVAT
                                                </a>
                                            </td>
                                            <td>
                                                {if $presenter->countOldVersion($row->presenter,$row->s_name) > 0}
                                                    <a class="btn btn-danger" n:href="history $row->presenter,$row->s_name">
                                                        Historie
                                                    </a>
                                                {/if}
                                            </td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            </table></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="{$basePath}/assets/css/layout-datatable.css" rel="stylesheet" type="text/css" />
{/block}

{block admin_bottom}
<script type="text/javascript"  n:syntax="off">
    loadScript(plugin_path + "datatables/js/jquery.dataTables.min.js", function () {
        loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function () {
            if (jQuery().dataTable) {
                var table = jQuery('#datatable_sample');
                table.dataTable({
                    "columns": [{
                            "orderable": true
                        }, {
                            "orderable": true
                        }, {
                            "orderable": true
                        }, {
                            "orderable": true
                        }, {
                            "orderable": true
                        }, {
                            "orderable": false
                        }, {
                            "orderable": false
                        }],
                    "lengthMenu": [
                        [25, 50, 100, -1],
                        [25, 50, 100, "All"] // change per page values here
                    ],
                    "pageLength": 25,
                    "pagingType": "bootstrap_full_number",
                    "language": {url: 'https://cdn.datatables.net/plug-ins/1.10.12/i18n/Czech.json'},
                    "order": [
                        [
                            1, "asc"
                        ]
                    ]
                });
            }
        });
    });
</script>
{/block}
