<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{$presenter->getTitle()}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <!-- css -->
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{$basePath}/plugins/flexslider/flexslider.css" rel="stylesheet" media="screen" />	
        <link href="{$basePath}/css/cubeportfolio.min.css" rel="stylesheet" />
        <link href="{$basePath}/css/style.css" rel="stylesheet" />
        <link id="t-colors" href="{$basePath}/css/dpr.css" rel="stylesheet" />
        <link id="bodybg" href="{$basePath}/css/bg10.css" rel="stylesheet" type="text/css" />
        <link id="f-style" href="{$basePath}/css/flexslider.css" rel="stylesheet" type="text/css"  />
        <link id="c-style" href="{$basePath}/css/denprorodinu.css" rel="stylesheet" type="text/css"  />
    </head>
    <body>
        <div id="wrapper">
            <!-- start header -->
            <header>
                <div class="navbar navbar-default navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{$baseUri}">
                                <img src="{$basePath}/images/logo/logo.png" alt="" height="62" />
                            </a>
                                <span id="slogan"><a href="{$baseUri}">Den pro rodinu</a></span>
                        </div>
                        {include '../common/@menu.latte'}
                    </div>
                </div>
            </header>
            <!-- end header -->
            {include content}
            {include '../common/@footer.latte'}
        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    </body>
    {block scripts}
    <script src="{$basePath}/js/jquery.min.js"></script>
    <script src="{$basePath}/js/modernizr.custom.js"></script>
    <script src="{$basePath}/js/jquery.easing.1.3.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/plugins/flexslider/jquery.flexslider-min.js"></script> 
    <script src="{$basePath}/plugins/flexslider/flexslider.config.js"></script>
    <script src="{$basePath}/js/jquery.appear.js"></script>
    <script src="{$basePath}/js/stellar.js"></script>
    <script src="{$basePath}/js/classie.js"></script>
    <script src="{$basePath}/js/uisearch.js"></script>
    <script src="{$basePath}/js/jquery.cubeportfolio.min.js"></script>
    <script src="{$basePath}/js/google-code-prettify/prettify.js"></script>
    <script src="{$basePath}/js/animate.js"></script>
    <script src="{$basePath}/js/custom.js"></script>

    {/block}
    <script n:syntax="off">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97815818-1', 'auto');
        ga('send', 'pageview');

    </script>
</html>