<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <!-- css -->
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{$basePath}/css/style.css" rel="stylesheet" />
        <link id="t-colors" href="{$basePath}/css/dpr.css" rel="stylesheet" />
        <link id="bodybg" href="{$basePath}/css/bg10.css" rel="stylesheet" type="text/css" />
        <link id="c-style" href="{$basePath}/css/denprorodinu.css" rel="stylesheet" type="text/css"  />
    </head>
    <body>
        <div id="wrapper">
            <section class="flashmessages" n:if="count($flashes)>0">
                <div n:foreach="$flashes as $flash"
                     class='alert alert-{$flash->type} alert-block fade in'>
                    <button type="button" class="close close-sm" data-dismiss="alert">
                        <i class="fa fa-times"></i>
                    </button>
                    <p>{$flash->message}</p>
                </div>
            </section>
            {include content}
        </div>


        {block scripts}
        <script src="{$basePath}/js/jquery.min.js"></script>
        <script src="{$basePath}/js/modernizr.custom.js"></script>
        <script src="{$basePath}/js/jquery.easing.1.3.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/plugins/flexslider/jquery.flexslider-min.js"></script> 
        <script src="{$basePath}/plugins/flexslider/flexslider.config.js"></script>
        <script src="{$basePath}/js/jquery.appear.js"></script>
        <script src="{$basePath}/js/stellar.js"></script>
        <script src="{$basePath}/js/classie.js"></script>
        <script src="{$basePath}/js/uisearch.js"></script>
        <script src="{$basePath}/js/jquery.cubeportfolio.min.js"></script>
        <script src="{$basePath}/js/google-code-prettify/prettify.js"></script>
        <script src="{$basePath}/js/animate.js"></script>
        <script src="{$basePath}/js/custom.js"></script>

        {/block}
    </body>
</html>