{block content}
<div id="content" class="dashboard padding-20">
    <div id="panel-1" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis"> <strong>ADMIN SUMMARY</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">{date('Y')}</small>
            </span>
            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip"
                       title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs"
                       data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i
                            class="fa fa-expand"></i></a></li>
            </ul>
        </div>

        <!-- panel content -->
        <div class="panel-body">
            <div class="row">
               
            </div>
        </div>
    </div>
</div>



{/block}
