{* Latte template *}

{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$baseUri}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Prohlášení</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">  
    <!-- clients -->
    <div class="container">
        {$presenter->getText('PROHLASENI')|noescape}
    </div>
</section>