<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>ADMIN</title>
        <meta name="description" content="" />
        <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

        <!-- mobile settings -->
        <meta name="viewport"
              content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <!-- WEB FONTS -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext"
            rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="{$basePath}/assets/plugins/bootstrap/css/bootstrap.min.css"
              rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="{$basePath}/assets/css/essentials.css" rel="stylesheet"
              type="text/css" />
        <link href="{$basePath}/assets/css/layout.css" rel="stylesheet"
              type="text/css" />
        <link href="{$basePath}/assets/css/color_scheme/green.css"
              rel="stylesheet" type="text/css" id="color_scheme" />
        <script type="text/javascript" src="{$basePath}/assets/edit_area/edit_area_full.js"></script>

    </head>
    <body>
        <!-- WRAPPER -->
        <div id="wrapper" class="clearfix">
            <aside id="aside">

                <nav id="sideNav">
                    <!-- MAIN MENU -->
                    <ul class="nav nav-list">
                        <li class="active">
                            <!-- dashboard --> <a class="dashboard" href="/admin/">
                                <!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li><a href="{plink Webcontent:}"><i
                                    class="main-icon fa fa-code"></i> Texty</a></li>
                        <li class="active alays-open"><a href="#"> <i
                                    class="fa fa-menu-arrow pull-right"></i> <i
                                    class="main-icon fa fa-cog"></i> <span>Utility</span>
                            </a>
                            <ul>
                                <!-- submenus -->
                                <li><a href="/del_temp.php" target="blank">Vymazat temp
                                        a cache.</a></li>
                            </ul></li>
                    </ul>
                </nav>
                <span id="asidebg"> <!-- aside fixed background -->
                </span>
            </aside>
            <!-- /ASIDE -->
            <!-- HEADER -->
            <header id="header">
                <!-- Mobile Button -->
                <button id="mobileMenuBtn"></button>
                <!-- Logo -->
                <span class="logo pull-left"> </span>
                <nav></nav>

            </header>
            <!-- /HEADER -->

            <!-- MIDDLE -->
            <section id="middle">
                {snippet flashmessages}
                    <section class="flashmessages" n:if="count($flashes)>0">
                        <div n:foreach="$flashes as $flash"
                             class='alert alert-{$flash->type} alert-block fade in'>
                            <button type="button" class="close close-sm" data-dismiss="alert">
                                <i class="fa fa-times"></i>
                            </button>
                            <p>{$flash->message|noescape}</p>
                        </div>
                    </section>
                {/snippet} {include content}
            </section>
            <!-- /MIDDLE -->

        </div>
        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">
            var plugin_path = '{php echo $basePath}/assets/plugins/';
        </script>
        <script type="text/javascript"
        src="{$basePath}/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{$basePath}/assets/js/app.js"></script>
        <script src="{$basePath}/js/ipub.formDateTime.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <!-- PAGE LEVEL SCRIPT -->
        <script type="text/javascript" n:syntax="off">
            $('.newtab').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                window.open(url, '_blank');
            });
        </script>
        {block admin_bottom} {/block}
    </body>
</html>