{* Latte template *}

<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Admin LOGIN</title>
        <meta name="description" content="" />
        <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <!-- WEB FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="{$basePath}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="{$basePath}/assets/css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="{$basePath}/assets/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="{$basePath}/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

    </head>
    <body>
        <div class="padding-15">
            <div class="login-box">
                {include content}
                <hr />
                <div class="socials margin-top-10 text-center"><!-- more buttons: ui-buttons.html -->
                    <small>PharoCom s.r.o &copy; 2014, pharoCMS 0.0.1</small>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = '{php echo $basePath}/assets/plugins/';</script>
        <script type="text/javascript" src="{$basePath}/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{$basePath}/assets/js/app.js"></script>
    </body>
</html>

