/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.3.2017, 19:51:29
    Author     : hippo
*/

#slogan {
    font-family:'Roboto', sans-serif;
    position: relative;
    top: 30px;
    left: 10px;
    font-size: 12px;
    color: #9AC43C;
    font-weight:700;
    line-height:1.1em;
}
@media (min-width: 470px) {
    #slogan {
        font-size: 1.7em;
        top: 33px;
    }
}

#slogan a {
    color: inherit !important;
}
#slogan a:hover {
    color: #EE7F13 !important;
    text-decoration: none;
}

.bold {
    font-weight: bolder !important;
}
.light-bold {
    font-weight: 400;
}
.padding-top-kontakt {
    padding-top: 30px;
}
.bered {
    color:#cb1103;
}
.begreen {
    color:#9AC43C;
}
.befb {
    color: #3B5998 !important;
}
.betwitter {
    color: #1DA1F2 !important;
}
.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}


.paddingleft10 {padding-left: 10px;}
.paddingleft11 {padding-left: 11px;}
.paddingleft12 {padding-left: 12px;}
.paddingleft13 {padding-left: 13px;}
.paddingleft14 {padding-left: 14px;}
.paddingleft15 {padding-left: 15px;}
.paddingleft16 {padding-left: 16px;}
.paddingleft17 {padding-left: 17px;}
.paddingleft18 {padding-left: 18px;}
.paddingleft19 {padding-left: 19px;}
.paddingleft20 {padding-left: 20px;}
.paddingleft21 {padding-left: 21px;}
.paddingleft22 {padding-left: 22px;}
.paddingleft23 {padding-left: 23px;}
.paddingleft24 {padding-left: 24px;}
.paddingleft25 {padding-left: 25px;}
.paddingleft26 {padding-left: 26px;}
.paddingleft27 {padding-left: 27px;}
.paddingleft28 {padding-left: 28px;}
.paddingleft29 {padding-left: 29px;}
.paddingleft30 {padding-left: 30px;}
.paddingleft31 {padding-left: 31px;}
.paddingleft32 {padding-left: 32px;}
.paddingleft33 {padding-left: 33px;}
.paddingleft34 {padding-left: 34px;}
.paddingleft35 {padding-left: 35px;}
.paddingleft36 {padding-left: 36px;}
.paddingleft37 {padding-left: 37px;}
.paddingleft38 {padding-left: 38px;}
.paddingleft39 {padding-left: 39px;}
.paddingleft40 {padding-left: 40px;} 




/*.colorgraph {
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}*/

.colorgraph {
    background-image: -webkit-linear-gradient(
        left, 
        #9AC43C, 
        #cb1103 33.333333%, 
        #1DA1F2);

    background-image: -moz-linear-gradient(
        left, 
        #9AC43C, 
        #cb1103 33.333333%, 
        #1DA1F2);
    background-image: -o-linear-gradient(
        left, 
        #9AC43C, 
        #cb1103 33.333333%, 
        #1DA1F2);
    background-image: linear-gradient(to right, 
        #9AC43C, 
        #cb1103 33.333333%, 
        #1DA1F2);
}

.flex-direction-nav {
    display: none !important; 
    visibility: hidden !important;
}


/* small resources */
.bigger-text p  {
    font-size: 15px !important;
}

p.bigger-text {
    font-size: 16px !important;
}


@media screen and (max-width: 480px) {
    .padding-top-kontakt {
        padding-top: 0px;
    }
}