/* === color === */
.dpr-color {
    color:#F05F40;
}
a, a:hover,a:focus,a:active, strike, .post-meta span a:hover, 
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation  { 
	color:#F05F40;
}

.highlight {
  background-color: #F05F40;
}

.sb-icon-search {
	background: #F05F40;
}

.navbar-brand span{
    color: #F05F40;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
	color:#F05F40;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color:#F05F40;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color:#F05F40;
}	
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color:#F05F40;
}
/* === background color === */

.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover, 

.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover, 
.flex-control-nav li a.active {
  background-color: #F05F40;
}

.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight,.cbp-l-filters-button .cbp-filter-counter {
    background-color: #F05F40;
}

.breadcrumb {
  background-color: #F05F40;
}

/* === border color === */
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
	border:1px solid #F05F40;
}

.cbp-l-filters-button .cbp-filter-counter:before {
    border-top: 4px solid #F05F40;
}

textarea:focus,
.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #F05F40;
}

input:focus {
	border-color: #F05F40;
}


#sendmessage {
	color: #F05F40;
}

.pullquote-left {
	border-left:5px solid #F05F40;
}

.pullquote-right {
	border-right:5px solid #F05F40;
}

/* cta */

.cta-text h2 span {
	color: #F05F40;
}

ul.clients li:hover {
	border:4px solid #F05F40;
}

/* box */
.box-bottom {
	background:#F05F40;
}

/* buttons */
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
  background: #F05F40;
  border:1px solid #F05F40;
}

.btn-theme {
  border:1px solid #F05F40;
  background: #F05F40;
}

/* modal styled */
.modal.styled .modal-header {
  background-color: #F05F40;
}


/* blog */
.post-meta {
	border-top:4px solid #F05F40;
}

.post-meta .comments a:hover  {
	color:#F05F40;
}

.widget ul.tags li a:hover {
	background: #F05F40;
}

.recent-post .text h5 a:hover{
	color:#F05F40;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
	background: #F05F40;
}


/* portfolio */
.cbp-l-filters-dropdownWrap {
    background: #F05F40;
}
.cbp-l-filters-alignLeft .cbp-filter-item-active {
    background-color: #F05F40;
    border:1px solid #F05F40;
}
.cbp-l-filters-alignCenter .cbp-filter-item:hover {
    color: #F05F40;
}

.cbp-l-filters-alignCenter .cbp-filter-item-active {
    color: #F05F40 !important;
}
.cbp-l-filters-alignRight .cbp-filter-counter {
    background: none repeat scroll 0 0 #F05F40;
}
.cbp-l-filters-list .cbp-filter-item {
    border-color: #F05F40;
}
.cbp-l-filters-list .cbp-filter-item-active {
    background-color:#F05F40;
}

.cbp-popup-singlePage .cbp-popup-navigation-wrap {
    background-color: #F05F40;
}
.cbp-popup-singlePage .cbp-l-project-details-visit {
    background-color: #F05F40;
}

/* pagination */
#pagination a:hover {
    background: #F05F40;
}

/* pricing box */
.pricing-box.special .pricing-offer{
	background: #F05F40;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #F05F40;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #F05F40;
}

/* fancybox */
.fancybox-close:hover {
	background-color:#F05F40;
}
.fancybox-nav:hover span {
	background-color:#F05F40;
}

/* parallax c slider */
.da-slide .da-link:hover{
	background: #F05F40;
	border: 4px solid #F05F40;
}

.da-dots span{
	background: #F05F40;
}

/* flexslider */
#featured .flexslider .slide-caption {
	border-left:5px solid #F05F40;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #F05F40;
}
.nivo-caption, .caption {
	border-bottom: #F05F40 5px solid;
}

/* footer */

