{* Latte template *}

{block content}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{$basePath}/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="{$basePath}/#">Minulé ročníky</a><i class="icon-angle-right"></i></li>
                    <li class="active">Videogalerie 2016</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">  
    <div class="container">
        <h1 class="heading">Videogalerie 2016</h1>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fluidMedia">
                    <iframe src="https://www.youtube.com/embed/tlYgXMGI4uU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> 
                </div>
            </div>
        </div>
    </div>
</section>